<!DOCTYPE html>
<html>
<head>
	<title>Aliff Macapinlac</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body id="body" style="padding-left:10vh; padding-right:10vh;">

<div class="container-fluid top-top">

</div>
<div class="container-fluid top-layout">

	<div class="container top-inner-layout" style="position: relative;">
	<h1 id="name-top" style="color: white; font-family: georgia; position: absolute; bottom:0;"><em>Aliff Macapinlac</em></h1>
	</div>
</div>

<div class="container middle-layout" style="text-align: center;">

<div class="row" style="border: 1px solid #fff; min-height: 50vh;">
<div class="col-sm-4" style="min-height: 50vh; position: relative;">
<svg  id="aboutMe" height="50vh" style="display:none;">
  <defs>
    <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="0%" style="stop-color:#fff;stop-opacity:0" />
      <stop offset="100%" style="stop-color:#000;stop-opacity:1" />
    </radialGradient>
  </defs>

  <ellipse rx="85" ry="55" fill="url(#grad1)" />
  <text class="nav-items" fill="#000">About Me</text>

</svg>
</div>
<div class="col-sm-4">
	<svg id="myInterest" height="50vh" style="display:none;">
  <defs>
    <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="0%" style="stop-color:#fff;stop-opacity:0" />
      <stop offset="100%" style="stop-color:#000;stop-opacity:1" />
    </radialGradient>
  </defs>
  <ellipse rx="85" ry="55" fill="url(#grad1)" />
  <text class="nav-items"  fill="#000">My Interest</text>

</svg>
</div>
<div class="col-sm-4">
	<svg id="myProjects" height="50vh" style="display:none;">
  <defs>
    <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="0%" style="stop-color:#fff;stop-opacity:0" />
      <stop offset="100%" style="stop-color:#000;stop-opacity:1" />
    </radialGradient>
  </defs>
  <ellipse rx="85" ry="55" fill="url(#grad1)" />
  <text class="nav-items" fill="#000">My Projects</text>

</svg>
</div>
</div>


</div>

<div class="container-fluid bottom-layout">

	<div class="container bottom-inner-layout">
	<a href="/home"><h5 id="enter" style="text-align:center; display:none;">ENTER</h5></a>
	</div>
</div>
<div class="container-fluid bottom-bottom">

</div>
	<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- <script src="/js/handlebars-v4.0.5.js"></script>
<script src="/js/researchPaperTemplate.js"></script> -->

<script src="/js/myJS.js"></script>
<script>
	
	var x = 0, y =0, z=0; 
			var theInterval = setInterval(function(){
					$("body").css("background", "linear-gradient(to left top, rgb(0,0,0), rgb("+x+", "+y+", "+z+"))")

					x+=10;
					y+=10;
					z+=10; 
			if(x>240){
				
				window.clearInterval(theInterval);
			}

			}, 0);


			$("svg#aboutMe").fadeIn(1000);
			$("svg#myInterest").fadeIn(2000);
			$("svg#myProjects").fadeIn(3000);
			
		
			



			 
			// setTimeout(function(){

			// 	svgItems

			// }, 1000);


			// setTimeout(function(){

			// }, 1000);


			// setTimeout(function(){

			// }, 1000);
</script>
</body>
</html>