<!DOCTYPE html>
<html>
<head>
	<title>Aliff Macapinlac</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

	<style>

body {
  margin: 0;

  min-width: 960px;
  min-height: 1280px;
}

rect {
  fill: none;
  pointer-events: all;
}

circle {
  stroke-width: 2.5px;
}

</style>
</head>
<body>




<div class="container-fluid" id="nav" style="margin: 50px 100px 0px 100px;">

<div class="row" style="color: #ccc;">
	<div class="col-sm-2"><h5>Soli Deo Gloria</h5></div>

	<div class="col-sm-1 col-sm-push-6 navItem">
		<a href="#aboutMe">About</a>
	</div>
	<div class="col-sm-1 col-sm-push-6 navItem">
		<a href="#resumeSec">Resume</a>
	</div>
	<div class="col-sm-1 col-sm-push-6 navItem">
		<a href="#">Interest</a>
	</div>
	<div class="col-sm-1 col-sm-push-6 navItem">
		<a href="#">Projects</a>
	</div>
</div>
</div>



</div>
<div id="header" style="text-align: center; margin-bottom: 50px; color: #777;">
<h1>Aliff Macapinlac</h1>
<h3>@UCSD - dataScience</h3>
</div>

<div class="container-fluid" id="part" style="background-color: #fff; min-height: 300px; padding: 0px;">

<!-- <div class="col-sm-6" id="left">
<svg id="one">
  
  
  
  
</svg>
</div>

<div class="col-sm-6" id="right">
<svg id="two">
  
  
  
  
  
</svg> -->
</div>


</div>

<div class="container" style="padding: 0px; margin-bottom:28px;">

	<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
		<h1 id="welcome" style="text-align:center; color: black; display:none">Welcome!</h1>
	<div class="col-sm-6" id="aboutMe" style="color: #888; display:none; font-size: 20px;">

		
		<p>Hello, my name is Aliff and welcome to my site! 
		Currently, I am a student at UC San Diego where I am studying Computer Science - Data Science. 
		</p>
		<br>
		<p>On spare time, I like to play the piano, doodle with some art work, walk on the beach, and many other things. But most recently, most of my time has been consumed with coding. However, coding is more than just a hobby. 
		</p>
		<br>
		<p>
		My intention is to build Software Applications that are efficient, effective, and simple to use. The goal is to build software that promotes community and joy in hopes that global connectivity becomes stronger as a consequence of experiencing quality interfaces and design. 

		</p>
</p>

	</div>

	<div class="col-sm-6" id="svgContainer" style="display:none;" >

	<img src="images/aliff.jpg" style="margin-top: 10px;"/>

<!-- 		<svg xmlns="http://www.w3.org/2000/svg" id="aboutMEsvg" width="500" height="500" style="" >

		
		</svg> -->


	</div>


</div>

</div>
<div class="container-fluid"  style="background-color: black;">
<div class="container">
<div class="blackDivide" style="background-color: black; min-height: 100px; display:none;">
</div>
<div class="blackDivide" style="background-color: black; display:none;">

<h5 style="text-align: center; color: #fff; font-size: 30px; font-family: Georgia; margin: 0;"/><em>"Anyone who has never made a mistake has never tried anything new"</em></h5>

</div>

<div class="blackDivide" style="background-color: black; min-height: 100px; display:none;">
<br>
<h5 style="color:#fff; margin:0; font-family: Georgia; float: right; font-size: 15px;"> - Albert Einstein </h5>
</div>
</div>
</div>

<div class="container" id="resumeSec" style="display: none;">

<h2 class="text-center">Resume</h2>
<hr>


<h4>EXPERIENCE</h4>

<div class="container" style="background-color: #00f; min-height: 1px;"></div>

<h4><b>UC San Diego Design Lab, La Jolla</b> — Research Assistant
<span style="float: right;">JUNE 2016 - Present</span></h4>
Manage online specialization courses on coursera – Human Computer Interaction; Facilitate participant studies on UI design; Use Google Adwords and Analytics to measure impressions and click throughs on search networks and events on websites

<h4><b>Summer Science Enrichment Program, La Jolla</b> — Science Scholar, Researcher
<span style="float: right;">JUNE 2016 - AUGUST 2016</span></h4>
Research on health disparities; Conducted Extensive literature reviews; Presented weekly on new findings
<h4><b>Smart Mind Robotics, San Diego</b> — Robotics Instructor
<span style="float: right;">JANUARY 2015 - FEBRUARY  2016</span></h4>
Taught basic programming: statements, decision, and loop structures. Applied math and programming to Robotics hardware. Designed and tailored curriculum to fit educational needs of the students. 


<h4><b>Union Bank, San Diego</b> — Banker
<span style="float:right;">FEBRUARY 2012 - JANUARY 2015</h4>
<br>
<h4>EDUCATION</h4>

<div class="container" style="background-color: #00f; min-height: 1px;"></div>
<h4><b>University California, San Diego  
<span>June 2018</b></h4>

<h4>Computer Science - Data Science, B.S.</h4> 
<br>

<div style="font-size: 20px;">
Relevant Course Work

<ul>
<li>
Human Computer Interaction
</li>
<li>
Client-side Web Programming
</li>
<li>
Data Structure and Object Oriented Design
</li>
<li>
Analysis of Algorithms
</li>
<li>
Database
</li>

</ul>
</div>
<br>

<h4>SKILLS</h4>

<div class="container" style="background-color: #00f; min-height: 1px;"></div>


<div class="container" style="font-size: 20px;">
<div class="row">

<div class="col-sm-4">
	<h4>Languages</h4>
	<ul>
	<li>
	JavaScript
	</li>
	<li>
	Java
	</li>
	<li>
	C/C++
	</li>
	<li>
	PHP
	</li>
	<li>
	MongoDB
	</li>

	</ul>

</div>

<div class="col-sm-4">

	<h4>Tools</h4>
	<ul>
		<li>
			D3.js
		</li>
		<li>
			Node.js/Express
		</li>
		<li>
			HandleBars
		</li>
		<li>
			JQuery
		</li>
		<li>
			HTML/CSS
		</li>

	</ul>

</div>
<div class="col-sm-4">

<h4>Concepts</h4>
	<ul>
		<li>
			Rapid Prototyping
		</li>
		<li>
			Front End Development
		</li>
		<li>
			REST / AJAX
		</li>
		<li>
			Back End Development
		</li>
		<li>
			MVC
		</li>

	</ul>

</div>

</div>



</div>

<br>






</div>

<div class="container-fluid blackDivide" style="background-color: #ddd; min-height: 500px; display: none;">
<h1 style="text-align:center; margin-top: 30px;">PROJECTS</h1>

<div class="container">

<div class="row">

<div class="col-sm-6">

<h1 style="text-align: center;">Affiniate</h1>
</div>

<div class="col-sm-6">
<h1 style="text-align: center;">Online Journal Club</h1>
</div>
</div>

</div>

</div>

<!-- 	<div class="col-sm-3 col-sm-push-1">

		<img class="img-responsive" src="/images/aliff.png" style="max-width: 500px; margin: 0px; padding: 60px 0px 0px 20px;"/>
		<ul id="socialMedia" style="padding:0px;">
			<li>FaceBook</li>
			<li>LinkedIn</li>
			<li>Instagram</li>
		</ul>
	</div>

	<div class="col-sm-3 col-sm-push-1" style="text-align: right;">
		
	</div>
	</div>
</div>


<div class="container-fluid" style="border-top: 1px solid #ddd; margin: 20px 300px 0px 300px;">

</div>
<div class="container-fluid" style="min-height: 1500px;">





</div> -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="/js/handlebars-v4.0.5.js"></script>
<script src="/js/researchPaperTemplate.js"></script> -->
<!-- 
<script src="/js/myJS.js"></script> -->
<script>

	var height1 = document.getElementById("aboutMe").offsetHeight;
	var width1 = document.getElementById("aboutMe").offsetWidth;
	console.log(width1);
	d3.select("#aboutMEsvg").attr("height", height1).attr("width", width1);

	



</script>




<script>

var width = document.getElementById("part").offsetWidth,
    height = document.getElementById("part").offsetHeight;



var svg = d3.select("#part").append("svg")
    .attr("width", width)
    .attr("height", height);



// svg.append("rect")
//     .attr("width", width)
//     .attr("height", height);

    window.onresize = function(){
    	width = document.getElementById("part").offsetWidth;
    	height = document.getElementById("part").offsetHeight;
    	height1 = document.getElementById("aboutMe").offsetHeight;
		width1 = document.getElementById("aboutMe").offsetWidth;
		
		d3.select("#aboutMEsvg").attr("width", width1).attr("height", height1);	

		$("#svgContainer img").css("width", width1).css("height", height1)
		.css("border-radius", "50px");

		svg.attr("width", width)
		.attr("height", height);

		//d3.select("circle").attr("cx", width1/2 + 50);

    	d3.select("#part").style("background-size", ""+width+"px "+height+"px");
    	svg.attr("width", width);

    }


//  var width1 = window.innerWidth / 2; 
//   var height1 = window.innerHeight / 2;

// d3.select("#one").attr("width", width1).attr("height", height1);
//  var i = 0;
// particle = function() {

//    var width = screen.width / 2; 
//    var height = screen.height / 2;

//   d3.select("#one").insert("circle")
//   	  .attr("fill", "none")
//       .attr("cx", Math.random()*width)
//       .attr("cy", Math.random()*height)
//       .attr("r", 1e-6)
//       .style("stroke", d3.hsl((i = (i + 1) % 360), 1, .5))
//       .style("stroke-opacity", 1)
//     .transition()
//       .duration(5000)
//       .ease(Math.sqrt)
//       .attr("r", 200)
//       .style("stroke-opacity", .5); //1e-6
//       //.remove();

// }


// d3.select("#two").attr("width", width1).attr("height", height1);//.attr("transform", "translate(0, 0)");
// var j = 0;
// particle1 = function() {

//    var width = screen.width / 2; 
//    var height = screen.height / 2;
//  var two = "#two";
//   d3.select(two).insert("circle")
//   	  .attr("fill", "none")
//       .attr("cx", Math.random()*width)
//       .attr("cy", Math.random()*height)
//       .attr("r", 1e-6)
//       .style("stroke", d3.hsl((j = (j + 1) % 360), 1, .5))
//       .style("stroke-opacity", 1)
//     .transition()
//       .duration(5000)
//       .ease(Math.sqrt)
//       .attr("r", 200)
//       .style("stroke-opacity", .5); //1e-6
//       //.remove();

// }

// var interval1 = setInterval(particle, 10);
// var interval2 = setInterval(particle1, 10);


// function split(){
//   clearInterval(interval1);
//   clearInterval(interval2);
  
//   d3.select("#left").style("position", "relative")
//     .transition()
//   .duration(1000)
//   .ease(Math.sqrt)
//     .style("left", "-1300px");
  
//   d3.select("#right").style("position", "relative")
//     .transition()
//   .duration(1000)
//   .ease(Math.sqrt).style("right", "-1300px");
// }

// setTimeout(split, 10000);

var i = 0;
particle = function() {
 
// if(i < 10){

// 	for(var z = 0; z < 500; z++){
// 	svg.insert("circle")
//   	  .attr("fill", "none")
//       .attr("cx", Math.random()*width)
//       .attr("cy", Math.random()*height)
//       .attr("r", .01)
//       .style("stroke", d3.hsl((i = (i + 1) % 360), 1, .5))
//       .style("stroke-opacity", 1)
//     .transition()
//       .duration(5000)
//       .ease(Math.sqrt)
//       .attr("r", 200)
//       .style("stroke-opacity", .5);

//   }
// }
  svg.insert("circle")
  	 
      .attr("cx", Math.random()*width)
      .attr("cy", Math.random()*height)
      .attr("r", .01)
      .style("stroke", d3.hsl((i = (i + 1) % 360), 1, .5))
      .style("stroke-opacity", 1)
    .transition()
      .duration(5000)
      .ease(Math.sqrt)
      .attr("r", 200)
      .style("stroke-opacity", .5);
      //.remove();

}


var particleInterval = setInterval(particle, .10);

setTimeout(function(){
	
	var a = 1; 

	d3.select("#part").style("background-image", 'url("images/glider.jpg")')
			.style("background-size", ""+width+"px "+height+"px")
			.style("background-repeat", "no-repeat");
			
	var slideCircle = setInterval(function(){
		d3.select("#part").select("svg").style("opacity", (a-=.04));

		if(a < .01){
			clearInterval(particleInterval);
			d3.select("#part").select("svg").remove();
			
			
		}
	}, 500)
	
	
}, 2000);

// d3.select("svg").append("path").attr("d", d3.symbol().type("triangle-up").size(500)).attr("transform", function(d){return "translate("+100+","+100+")";}).style("fill", red);



</script>

<script>

var welcome = $("#welcome");

var w = 10; 
var arrived = false;
welcome.fadeIn(); 

var inter = setInterval(function(){
	welcome.css("margin-top", w+"px"); 
	w+=10; 
	if(w > 300){
	
		clearInterval(inter);
		setTimeout(offScreen, 1000);
	}
}, 10);



var k = 0; 
var c2 = -100;
var d = 0;
var c3 = -10;
function offScreen(){
	
	var it = setInterval(function(){
		k = k + c2;
		d = d+ c3;
		welcome.css("transform", "rotate("+d+"deg)");
		welcome.css("margin-left", k+"px");
	}, 30);

	setTimeout(function(){
		clearInterval(it);
		welcome.fadeOut();
		aboutMeSlide();
		
		//$("#resumeSec").slideUp(2000);

	}, 1000);
}

function aboutMeSlide(){

		var f = 50;
		$("#aboutMe").fadeIn(2000);

		var e = window.innerWidth;

		var itt = setInterval(function(){
			e = e - f;
			$("#aboutMe").css("margin-left", e+"px");

			if(e < 0){
				clearInterval(itt);
				$("#aboutMe").css("margin-left", "0px");
				theRest();

			}
		}, 1);
		
		

}

function theRest(){

	// 
	$(".blackDivide").fadeIn(2200);
	var mt = window.innerHeight - 500;
	var d = -40;
	var wala = setInterval(function(){

		mt = mt + d;
		$("#blackDivide").css("margin-top", mt+"px");

		if(mt < 50){  
			clearInterval(wala);
			$("#blackDivide").css("margin-top", "0px");
			$("#resumeSec").fadeIn(2000);
			//triangleFun();
			showMyPic(); 
			

		}

	}, 32);


/*


		  <circle cx="150" cy="150" r="100" fill="red" opacity=".5"/>
		  
		   <circle cx="250" cy="150" r="100" fill="blue" opacity=".5"/>
		   <circle cx="250" cy="250" r="100" fill="yellow" opacity=".5"/>
		   <circle cx="150" cy="250" r="100" fill="green" opacity=".5"/> 




*/

function showMyPic(){

	height1 = document.getElementById("aboutMe").offsetHeight;
	width1 = document.getElementById("aboutMe").offsetWidth;
	$("#svgContainer img").css("width", width1).css("height", height1)
	.css("border-radius", "50px");
	$("#svgContainer").slideDown(1000);
}


function makeDisc(){


	height1 = document.getElementById("aboutMe").offsetHeight;
	width1 = document.getElementById("aboutMe").offsetWidth;
	var svgDISCContainer = d3.select("#aboutMEsvg");

	svgDISCContainer.attr("height", height1).attr("width", width1);

	svgDISCContainer.insert("circle")
	.attr("cx", width1 /4 + 70)
	.attr("cy", height1 / 4 + 50)
	.attr("r", 150)
	.attr("fill", "red")
	.attr("opacity", .5);

	svgDISCContainer.insert("circle")
	.attr("cx", (width1 /4) * 3 - 70)
	.attr("cy", height1 / 4 + 50)
	.attr("r", 150)
	.attr("fill", "blue")
	.attr("opacity", .5);

	svgDISCContainer.insert("circle")
	.attr("cx", (width1 /4) * 3 - 70 )
	.attr("cy", height1 / 4 * 3 - 50)
	.attr("r", 150)
	.attr("fill", "yellow")
	.attr("opacity", .5);

	svgDISCContainer.insert("circle")
	.attr("cx", (width1 /4) + 70)
	.attr("cy", (height1 / 4) * 3 - 50)
	.attr("r", 150)
	.attr("fill", "green")
	.attr("opacity", .5);

	svgDISCContainer.insert("text")
	.attr("x", width1 / 2 - 70)
	.attr("y", 0)
	.attr("text-anchor", "middle")
	.text("Optimistic");

	$("#svgContainer").fadeIn(5000); 



	// d3.select("#aboutMEsvg").insert("circle")
	


}












//svgAM.attr("height", document.getElementById("aboutMe").offsetHeight);

// function lineStroke1() {
//  var svgAM = d3.select("#aboutMEsvg");


// // first set the dimensions of the  svg container, should be same as left column
// height1 = document.getElementById("aboutMe").offsetHeight;
// width1 = document.getElementById("aboutMe").offsetWidth;
// d3.select("#aboutMEsvg").attr("height", height1).attr("width", width1);

// //get starting point of first line
// var x1 = width1 / 4;
// var y1 = (height1/4) * 3;
// var x2End = width1 / 2; 
// var y2End = height1 / 10;
//   svgAM.insert("line")
//       .attr("x1", x1)
//       .attr("y1", y1)
//       .attr("x2", x1)
//       .attr("y2", y1)
//       .style("stroke", "rgb(0,0,255)")
//       .style("stroke-opacity", 1)
//       .style("stroke-width", 3)
//     .transition()
//       .duration(1000)
//       .attr("x2", x2End)
//       .attr("y2", y2End)
//       .style("stroke-opacity", 1e-6)
//       .remove();


// }

// function lineStroke2() {
//  var svgAM = d3.select("#aboutMEsvg");

// // first set the dimensions of the  svg container, should be same as left column
// height1 = document.getElementById("aboutMe").offsetHeight;
// width1 = document.getElementById("aboutMe").offsetWidth;


// //get starting point of first line
// var x1 = width1 / 2; 
// var y1 = height1 / 10;
// var x2End  = width1 / 4 * 3;
// var y2End = (height1/4) * 3;

//   svgAM.insert("line")
//       .attr("x1", x1)
//       .attr("y1", y1)
//       .attr("x2", x1)
//       .attr("y2", y1)
//       .style("stroke", "rgb(0, 255, 0)")
//       .style("stroke-opacity", 1)
//       .style("stroke-width", 3)
//     .transition()
//       .duration(1000)
//       .attr("x2", x2End)
//       .attr("y2", y2End)
//       .style("stroke-opacity", 1e-6)
//       .remove();

// }

// function lineStroke3() {
//  var svgAM = d3.select("#aboutMEsvg");



// // first set the dimensions of the  svg container, should be same as left column
// height1 = document.getElementById("aboutMe").offsetHeight;
// width1 = document.getElementById("aboutMe").offsetWidth;


// //get starting point of first line
// var x1  = width1 / 4 * 3;
// var y1 = (height1/4) * 3;
// var x2End = width1 / 4;
// var y2End = (height1/4) * 3;

//   svgAM.insert("line")
//       .attr("x1", x1)
//       .attr("y1", y1)
//       .attr("x2", x1)
//       .attr("y2", y1)
//       .style("stroke", "rgb(255, 0, 0)")
//       .style("stroke-opacity", 1)
//       .style("stroke-width", 3)
//     .transition()
//       .duration(1000)
//       .attr("x2", x2End)
//       .attr("y2", y2End)
//       .style("stroke-opacity", 1e-6)
//       .remove();

// }

// function allLineStroke(){

// var svgAM = d3.select("#aboutMEsvg");


// // first set the dimensions of the  svg container, should be same as left column
// height1 = document.getElementById("aboutMe").offsetHeight;
// width1 = document.getElementById("aboutMe").offsetWidth;
// d3.select("#aboutMEsvg").attr("height", height1).attr("width", width1);

// //get starting point of first line
// var x1 = width1 / 4;
// var y1 = (height1/10) * 9;
// var x2End = width1 / 2; 
// var y2End = height1 / 10;
//   svgAM.insert("line")
//       .attr("x1", x1)
//       .attr("y1", y1)
//       .attr("x2", x1)
//       .attr("y2", y1)
//       .style("stroke", "rgb(0,0,255)")
//       .style("stroke-opacity", 1)
//       .style("stroke-width", 3)
//      .transition()
//      .duration(500)
//      .attr("x2", x2End)
//      .attr("y2", y2End);


// 	x1 = width1 / 2; 
// 	y1 = height1 / 10;
// 	x2End  = width1 / 4 * 3;
// 	y2End = (height1/4) * 3;

//   svgAM.insert("line")
//       .attr("x1", x1)
//       .attr("y1", y1)
//       .attr("x2", x1)
//       .attr("y2", y1)
//       .style("stroke", "rgb(0, 255, 0)")
//       .style("stroke-opacity", 1)
//       .style("stroke-width", 3)
//     .transition()
//       .duration(1000)
//       .attr("x2", x2End)
//       .attr("y2", y2End)


// 	x1  = width1 / 4 * 3;
// 	y1 = (height1/4) * 3;
// 	x2End = width1 / 4;
// 	y2End = (height1/4) * 3;

//   svgAM.insert("line")
//       .attr("x1", x1)
//       .attr("y1", y1)
//       .attr("x2", x1)
//       .attr("y2", y1)
//       .style("stroke", "rgb(255, 0, 0)")
//       .style("stroke-opacity", 1)
//       .style("stroke-width", 3)
//     .transition()
//       .duration(1000)
//       .attr("x2", x2End)
//       .attr("y2", y2End)
  


// }

// function makeDisc(){

// 	d3.select("#aboutMEsvg").insert("circle")
// 	.attr("cx", 100)
// 	.attr("cy", 100)
// 	.attr("r", 100)
// 	.attr("fill", "blue");
// }

// function triangleFun(){

// 	// need to set dimensions first since about me block was hidden
	
// 	makeDisc();
// 	// lineStroke1();
// 	// setTimeout(lineStroke2, 1000);
// 	// setTimeout(lineStroke3, 2000);
// 	// setTimeout(allLineStroke, 3000);
// }




	
}

</script>



























</body>
</html>