<!DOCTYPE html>
<html>
<head>
	<title>Aliff Macapinlac</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

	<style>

body {
  margin: 0;

  min-width: 960px;
  min-height: 1280px;
}

rect {
  fill: none;
  pointer-events: all;
}

circle {
  stroke-width: 2.5px;
}

.projects{
	padding: 30px;
	cursor:pointer;
}

#footerList li{
	color: white;
	display: inline;
}

#contactLinks span{
	margin: 10px;
}

.navItem{
	font-size: 18px;
}
</style>
</head>
<body>




<div class="container-fluid" id="nav" style="margin: 50px 100px 0px 100px;">

<div class="row" style="color: #ccc;">
	<div class="col-sm-2"><h5>Soli Deo Gloria</h5></div>

	<div class="col-sm-1 col-sm-push-7 navItem">
		<a href="#aboutMe">About</a>
	</div>
	<div class="col-sm-1 col-sm-push-7 navItem">
		<a href="#resumeSec">Resume</a>
	</div>
	<div class="col-sm-1 col-sm-push-7 navItem">
		<a href="#projectSection">Projects</a>
	</div>
</div>
</div>



</div>
<div id="header" style="text-align: center; margin-bottom: 50px; color: #777;">
<h1>Aliff Macapinlac</h1>
<h3>@UCSD - dataScience</h3>
</div>

<div class="container-fluid" id="part" style="background-color: #fff; min-height: 300px; padding: 0px;">

<!-- <div class="col-sm-6" id="left">
<svg id="one">
  
  
  
  
</svg>
</div>

<div class="col-sm-6" id="right">
<svg id="two">
  
  
  
  
  
</svg> -->
</div>


</div>

<div class="container" style="padding: 0px; margin-bottom:28px;">

	<div class="row" style="margin-top: 30px; margin-bottom: 30px;">
		<h1 id="welcome" style="text-align:center; color: black; display:none">Welcome!</h1>
	<div class="col-sm-6" id="aboutMe" style="color: #888; display:none; font-size: 20px;">

		
		<p>Hello, my name is Aliff and welcome to my site! 
		Currently, I am a student at UC San Diego where I am studying Data Science. 
		</p>
		<br>
		<p>On spare time, I like to play the piano, doodle with some art work, walk on the beach, and many other things. But most recently, most of my time has been consumed with coding. However, coding is more than just a hobby. 
		</p>
		<br>
		<p>
		My intention is to build Software Applications that are efficient, effective, and simple to use. The goal is to build software that promotes community and joy in hopes that global connectivity becomes stronger as a consequence of experiencing quality interfaces and design. 

		</p>
</p>

	</div>

	<div class="col-sm-6" id="svgContainer" style="display:none;" >

	<img src="images/aliff.jpg" style="margin-top: 10px;"/>

<!-- 		<svg xmlns="http://www.w3.org/2000/svg" id="aboutMEsvg" width="500" height="500" style="" >

		
		</svg> -->


	</div>


</div>

</div>
<div class="container-fluid"  style="background-color: black;">
<div class="container">
<div class="blackDivide" style="background-color: black; min-height: 100px; display:none;">
</div>
<div class="blackDivide" style="background-color: black; display:none;">

<h5 style="text-align: center; color: #fff; font-size: 30px; font-family: Georgia; margin: 0;"/><em>"Anyone who has never made a mistake has never tried anything new."</em></h5>

</div>

<div class="blackDivide" style="background-color: black; min-height: 100px; display:none;">
<br>
<h5 style="color:#fff; margin:0; font-family: Georgia; float: right; font-size: 15px;"> - Albert Einstein </h5>
</div>
</div>
</div>

<div class="container" id="resumeSec" style="display: none;">

<h2 class="text-center">Resume</h2>
<hr>


<h4>EXPERIENCE</h4>

<div class="container" style="background-color: #00f; min-height: 1px;"></div>

<h4><b>UC San Diego Design Lab, La Jolla</b> — Research Assistant
<span style="float: right;">June 2016 - August 2017</span></h4>
Manage online specialization courses on coursera – Human Computer Interaction; Facilitate participant studies on UI design; Use Google Adwords and Analytics to measure impressions and click throughs on search networks and events on websites

<h4><b>Summer Science Enrichment Program, La Jolla</b> — Science Scholar, Researcher
<span style="float: right;">June 2016 - August 2016</span></h4>
Research on health disparities; Conducted Extensive literature reviews; Presented weekly on new findings
<h4><b>Smart Mind Robotics, San Diego</b> — Robotics Instructor
<span style="float: right;">January 2015 - February  2016</span></h4>
Taught basic programming: statements, decision, and loop structures. Applied math and programming to Robotics hardware. Designed and tailored curriculum to fit educational needs of the students. 


<h4><b>Union Bank, San Diego</b> — Banker
<span style="float:right;">February 2012 - January 2015</h4>
<br>
<h4>EDUCATION</h4>

<div class="container" style="background-color: #00f; min-height: 1px;"></div>
<h4><b>University California, San Diego  
<span>June 2018</b></h4>

<h4>Computer Science - Data Science, B.S.</h4> 
<br>

<div style="font-size: 20px;">
Relevant Course Work

<ul>
<li>
Human Computer Interaction
</li>
<li>
Client-side Web Programming
</li>
<li>
Data Structure and Object Oriented Design
</li>
<li>
Analysis of Algorithms
</li>
<li>
Database
</li>

</ul>
</div>
<br>

<h4>SKILLS</h4>

<div class="container" style="background-color: #00f; min-height: 1px;"></div>


<div class="container" style="font-size: 20px;">
<div class="row">

<div class="col-sm-4">
	<h4>Languages</h4>
	<ul>
	<li>
	JavaScript
	</li>
	<li>
	Java
	</li>
	<li>
	C/C++
	</li>
	<li>
	PHP
	</li>
	<li>
	MongoDB
	</li>

	</ul>

</div>

<div class="col-sm-4">

	<h4>Tools</h4>
	<ul>
		<li>
			D3.js
		</li>
		<li>
			Node.js/Express
		</li>
		<li>
			HandleBars
		</li>
		<li>
			JQuery
		</li>
		<li>
			HTML/CSS
		</li>

	</ul>

</div>
<div class="col-sm-4">

<h4>Concepts</h4>
	<ul>
		<li>
			Prototyping
		</li>
		<li>
			Front End Development
		</li>
		<li>
			REST / AJAX
		</li>
		<li>
			Back End Development 
		</li>
		<li>
			MVC
		</li>

	</ul>

</div>

</div>



</div>

<br>






</div>

<div id="projectSection" class="container-fluid blackDivide" style="background-color: #eee; min-height: 500px; display: none; padding-top: 20px;">
<h2 style="text-align:center;">Projects</h2>

<div class="container" style="padding: 30px; padding-bottom:20px;">

<div class="row">

<div class="col-sm-6 projects" onclick="redirectAffiniate()">

<img class="img-responsive" src="images/affiniate.jpg" style="height: 368px; width: 350px"/>
<h1 style="text-align: center; background-color: white; margin:0;">Affiniate</h1>
</div>

<div class="col-sm-6 projects" onclick="redirectOnlineJournalClub()">
<img class="img-responsive" src="images/onlineJournalClub.jpg" style="height: 368px; width: 300px;"/>
<h1 style="text-align: center; margin: 0; background-color: #fff;">Online Journal Club</h1>
</div>
</div>

</div>

</div>

<div class="container-fluid" id="footer" style="margin:0; color: #fff; background-color: #000; display: none; font-size: 20px;">

<div class="row">
	<div class="col-sm-6">
		<footer style="margin-left:5px;">&#9400;Aliff Macapinlac</footer>
	</div>

	<div id="contactLinks" class="col-sm-6" style="text-align:right;">
		<span><a href="https://www.linkedin.com/in/aliffmacapinlac/">LinkedIn</a></span>
		<span><a href="https://github.com/goofysir04">gitHub</a></span>
	</div>

</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>



<script>

	var height1 = document.getElementById("aboutMe").offsetHeight;
	var width1 = document.getElementById("aboutMe").offsetWidth;
	console.log(width1);
	d3.select("#aboutMEsvg").attr("height", height1).attr("width", width1);

	



</script>

<script type="text/javascript" src="js/myJS.js"></script>
































</body>
</html>