<!DOCTYPE html>
<html>
<head>
	<title>Aliff Macapinlac</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

	<style>

body {
  margin: 0;

  min-width: 960px;
}

rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}

</style>
</head>
<body>



<div class="container-fluid" id="nav" style="margin: 50px 100px 0px 100px;">

<div class="row" style="color: #ccc;">
	<div class="col-sm-2"><h5>Soli Deo gloria</h5></div>

	<div class="col-sm-1 col-sm-push-6 navItem">
		<a href="#">About Me</a>
	</div>
	<div class="col-sm-1 col-sm-push-6 navItem">
		<a href="#">Resume</a>
	</div>
	<div class="col-sm-1 col-sm-push-6 navItem">
		<a href="#">Interest</a>
	</div>
	<div class="col-sm-1 col-sm-push-6 navItem">
		<a href="#">Projects</a>
	</div>
</div>
</div>



</div>
<div id="header" style="text-align: center; margin-bottom: 50px; color:#fff;">
<h1>Aliff Macapinlac</h1>
<h3>@UCSD</h3>
</div>

<div class="container-fluid" id="part" style="background-color: #fff; min-height: 500px;">



</div>

<div class="container" style="padding: 0px; ">

	<div class="row">
	<div class="col-sm-6" id="aboutMe" style="color: #ddd">
		<h2>About Me</h2>
		<p>Hello, my name is Aliff and I exist in a Galaxy
			called the Milky way. Specifically, in a solar system called.... Hmmm
			I am not sure what it is called, actually. However, the planet is called Earth! 
			Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
			<br>

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
	Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
	

		</p>

	</div>

	<div class="col-sm-6" id="svgContainer" style="padding: 0px;">

		<svg style="border: 1px solid white;">

			 <defs>
			    <radialGradient id="sun" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
			      <stop offset="0%" style="stop-color:#ff0;
			      stop-opacity:0" />
			      <stop offset="100%" style="stop-color:#ffd700;stop-opacity:1" />
			    </radialGradient>
			 </defs>

			 <circle id="back" cx="200" cy="200" r="100" fill="orange"/>

			<circle cx="200" cy="200" r="100" fill="url(#sun)"/>


		</svg>


	</div>

<!-- 	<div class="col-sm-3 col-sm-push-1">

		<img class="img-responsive" src="/images/aliff.png" style="max-width: 500px; margin: 0px; padding: 60px 0px 0px 20px;"/>
		<ul id="socialMedia" style="padding:0px;">
			<li>FaceBook</li>
			<li>LinkedIn</li>
			<li>Instagram</li>
		</ul>
	</div>

	<div class="col-sm-3 col-sm-push-1" style="text-align: right;">
		
	</div>
	</div>
</div>


<div class="container-fluid" style="border-top: 1px solid #ddd; margin: 20px 300px 0px 300px;">

</div>
<div class="container-fluid" style="min-height: 1500px;">





</div> -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="/js/handlebars-v4.0.5.js"></script>
<script src="/js/researchPaperTemplate.js"></script> -->
<!-- 
<script src="/js/myJS.js"></script> -->
<script>

	var height1 = document.getElementById("aboutMe").offsetHeight;
	var width1 = document.getElementById("svgContainer").offsetWidth;
	d3.select("svg").attr("height", height1).attr("width", width1);


	
	window.onresize = function(){



			}
	
	



</script>




<script>

var width = document.getElementById("part").offsetWidth,
    height = document.getElementById("part").offsetHeight;

var i = 0;

var svg = d3.select("#part").append("svg")
    .attr("width", width)
    .attr("height", height);



svg.append("rect")
    .attr("width", width)
    .attr("height", height);

    window.onresize = function(){
    	width = document.getElementById("part").offsetWidth;
    			height1 = document.getElementById("aboutMe").offsetHeight;
		width1 = document.getElementById("svgContainer").offsetWidth;
		
		d3.select("svg").attr("height", height1).attr("width", width1);	

		d3.select("circle").attr("cx", width1/2 + 50);

    	
    	svg.attr("width", width);

    }


    //.on("ontouchstart" in document ? "touchmove" : "mousemove", particle);

particle = function() {
  //var m = d3.mouse(this);

  svg.insert("circle", "rect")
      .attr("cx", Math.random()*width)
      .attr("cy", Math.random()*height)
      .attr("r", 1e-6)
      .style("stroke", d3.hsl((i = (i + 1) % 360), 1, .5))
      .style("stroke-opacity", 1)
    .transition()
      .duration(5000)
      .ease(Math.sqrt)
      .attr("r", 200)
      .style("stroke-opacity", 1e-6)
      .remove();

  //d3.event.preventDefault();
}

particle1 = function() {
  //var m = d3.mouse(this);

  svg.insert("polygon", "rect")
      .attr("cx", Math.random()*width)
      .attr("cy", Math.random()*height)
      .attr("r", 1e-6)
      .style("stroke", d3.hsl((i = (i + 1) % 360), 1, .5))
      .style("stroke-opacity", 1)
    .transition()
      .duration(2000)
      .ease(Math.sqrt)
      .attr("r", 100)
      .style("stroke-opacity", 1e-6)
      .remove();

  //d3.event.preventDefault();
}



setInterval(particle, 100);


d3.select("svg").append("path").attr("d", d3.symbol().type("triangle-up").size(500)).attr("transform", function(d){return "translate("+100+","+100+")";}).style("fill", red);






































</script>
</body>
</html>